<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OutlookAddIn1.Properties.Settings.worldConnectionString" connectionString="server=localhost;user id=root;password=woaini;persistsecurityinfo=True;database=world" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
